body {
  margin: 0px;
}

nav {
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
  position: relative;
  height: 43px;
  background-color: #DDDDDD;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}

.logo {
  position: absolute;
  left: 10px;
  margin-top: 0px;
}

.search {
  font-size: 17px;
  padding-left: 60px;
  left: 20px;
  padding: 10px;
  margin: 16px 0px;
}

.search p {
  padding: 0px;
  margin-top: 17px;
  margin-bottom: 5px;
}

main {
  padding: 10px 60px;
}

input#search-box {
  width: 400px;
  height: 25px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  vertical-align: middle;
}

.search-button {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  height: 29px;
  vertical-align: middle;
}

.magnifying-glass {
  display: inline-block;
  height: 100%;
}

.pages-button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
  width: 15%;
}

* {
  font-family: "Roboto", sans-serif;
}

.pages-display {
  font-size: 16px;
  padding: 0 30px;
  padding: 8px 25px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  width: 70%;
}

.pages {
  display: block;
  font-size: 0;
  margin: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  width: 350px;
}

.listings {
  display: inline-block;
  padding: 10px;
  list-style-type: none;
}

.position-title {
  color: purple;
  font-size: 17px;
}

.date, .location {
  color: grey;
  font-size: 16px;
}

.listings li {
  margin-bottom: 15px;
}

.listings a {
  font-weight: bold;
  text-decoration: none;
}
