nav {
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
  position: relative;
  height: 43px;
  background-color: #DDDDDD;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.logo {
  position: absolute;
  left: 10px;
  margin-top: 0px;
}

.search {
  position: absolute;
  width: 50%;
  height: 90px;
  border: 1px solid black;
  font-size: 17px;
  padding-left: 60px;
  left: 20px;
}

main {
  padding-top: 10px;
}

input#search-box {
  width: 400px;
  height: 25px;
  margin-top: -10px;
}

.magnifying-glass {
  height: 25px;
}
